<div>
	<h1>Sortable Grid (using jquery)</h1>
	<p> 
		This is a deom of custom sortable grid directive for angularjs that uses jquery sortable plugin.
	</p>
	<sortable-grid data="data"></sortable-grid>
</div>
