/*
 * Sortable grid view css
 * Author: Keshant
 * Date: 24.08.2016
 */

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#sortable li {
	padding: 0;
}

#sortable li div.grid { 
	margin: 3px; 
	border: 1px solid #ccc; 
	background: #efefef;
	cursor: move;
	font-size: 4em; 
	text-align: center; 
}